<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicación modularizada en vue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div id="contenedor">
        <div v-show="panelLoginVisible" class="modal" tabindex="-1" role="dialog" style="display: block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Inicio de sesión</h5>
                        <button type="button" class="close" aria-label="Close" @click="ocultarPanelLogin">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Por favor, ingrese la contraseña genérica provista.</p>
                        <input type="password" v-on:keyup.enter="iniciarSesion">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="iniciarSesion">Iniciar Sesión</button>
                        <button type="button" class="btn btn-secondary" @click="ocultarPanelLogin">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li v-for="item in links" :class="'nav-item' + (item.active ? ' active' : '')" v-if="item.enable || login">
                            <a class="nav-link" aria-current="page" href="#">{{item.text}}</a>
                        </li>
                    </ul>
                    <form class="d-flex" @submit.prevent="envioDeInformacion">
                        <button
                                :class="`btn btn-outline-${!login ? 'success' : 'danger'}`"
                                @click="toogleLogin"
                        >
                            {{login ? 'Cerrar sesión' : 'Iniciar sesión'}}
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <page-content
                    :mensaje="'Este es un mensaje'"
            ></page-content>
            <page-content :mensaje="'Este es otro mensaje'"></page-content>
            <page-content :mensaje="'Este es el último mensaje'"></page-content>
            <p>{{mensaje}}</p>
            <p>{{login ? 'Esta logueado con su usuario del sistema' : 'Para continuar, inicie sesión'}}</p>
            <!--
            <button class="btn btn-primary" @click="agregarMiPerfil">Agregar Mi Perfil</button>
            <button class="btn btn-danger" @click="sacarMiPerfil">Sacar Mi Perfil</button>
            -->
        </main>
    </div>
    <script src="index.js"></script>
</body>
</html>