<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer aplicación con vuejs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div id="contenedor">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li v-for="item in links" class="nav-item" v-if="item.enable || login">
                            <a class="nav-link" aria-current="page" href="#">{{item.text}}</a>
                        </li>
                    </ul>
                    <form class="d-flex" @submit.prevent="envioDeInformacion">
                        <button v-if="!login" class="btn btn-outline-success" @click="iniciarSesion">Iniciar sesión</button>
                        <button v-if="login" class="btn btn-outline-success" @click="cerrarSesion">Cerrar sesión</button>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <p>{{mensaje}}</p>
            <p>{{login ? 'Esta logueado con su usuario del sistema' : 'Para continuar, inicie sesión'}}</p>
        </main>
    </div>
    <script src="index.js"></script>
</body>
</html>